.exitPreviewMode {
  background: var(--gray-50);
  width: 100%;
  font-weight: bold;
  color: var(--gray-900);
  padding: 1.125rem;
  font-size: 1.125rem;
  border: none;
  border-radius: 0.25rem;
  margin-top: 5rem;
}
