.container {
  width: 100%;
  max-width: 720px;
  margin: auto;
  padding: 1.5rem;

  header {
    padding: 0;
    margin: 4rem 0;
  }
}

.post {
  display: block;
  width: 100%;

  h3 {
    color: var(--gray-50);
    font-size: 1.75rem;
    transition: color 0.2s;
    font-weight: 700;
  }

  p {
    color: var(--gray-200);
    font-size: 1.125rem;
    margin-top: 0.5rem;
  }

  div {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: var(--gray-200);

    span {
      display: flex;
      align-items: center;
      line-height: 1.125rem;
      font-size: 0.875rem;
    }

    svg {
      margin-right: 0.5rem;
    }
  }

  &:hover h3 {
    color: var(--pink-500);
  }

  & + & {
    margin-top: 3rem;
  }
}

.loadMore {
  color: var(--pink-500);
  font-weight: 600;
  cursor: pointer;
  transition: filter 0.2s;
  margin-top: 4rem;
  display: block;

  &:hover {
    filter: brightness(0.8);
  }
}
